**/.classpath
**/.project
/bin
**/.settings
/.project
/.settings
/.classpath
/.cache-main
src/**/*.class
SpringBootStudy.iml
.idea/
scalaStudy.iml
*.iml
/out
/target
/project
spark.iml
/metastore_db
/spark-warehouse
**/*.log
**/tree.txt
/**/tree.log
tree.log
dependency-reduced-pom.xml
